body {
 background-color: rgb(131, 162, 255)
}    

div.centro {
text-align: center;
}

div.favoritos {
    margin-left: 20%;
    margin-top: 2%;
}

h2 {
    color:yellow;
    display:inline-block;
}

h1 {
    color: yellow;
    display:inline-block;
}

div.icone {
    margin-left: 97%;
    margin-top: -4%;
}
